

nav div div  {
    
    align-items: center;
}
nav div div ul li{
    margin: auto 0;
    font-size: 70px;
    align-content: center;
    padding: 15px;
    font-weight: bolder;
}


nav div div ul li a:hover{
color: rgb(224, 5, 5) !important;
}
.midtext{
    padding: 50px 50px 60px 600px;
    display: flex;
    flex-direction: column;
    align-items:  left;
    width: 1000px;
 }
 .size{
    max-width: 2000px;
 }
 section div{
    margin: 100px 0;
 }

 .card:hover{
   color: red;
 }
 .aboutme{
    border: 3px dotted black;
    padding: 30px;
 }
 .action{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
 }
 #p1{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 80px;
    text-align: center;
    margin: 0px;

    animation: myanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
 }
 @keyframes myanimation{
   50% {transform: translate(800px,0);}
 }